@import 'variables.scss';
@font-face {
    font-family: 'titles';
    src: url(../scss/fonts/Courgette-Regular.ttf);
}
body{
    font-size: large;
    font-family: titles;
    .btn-selected-ing{
        position: fixed;
        right: 15px;
        top: 70px;
        height: 50px;
        width: 50px;
        z-index: 9999;
    };
    .btn-close-modal{
        height: 30px;
        width: 30px;
        padding-top: 15px;
        padding-right: 15px;
        text-decoration: none;
        justify-content: end;
    }
    .modal-ingredient {
        position: fixed;
        top: 70px;
        right: 300px;
        width: 70%;
        height: auto;
        max-width: 600px;
        z-index: 9999;
        background-color: $yellow;
        border-style: solid;
        border-width: 5px;
        border-color: $brown;
    }
    #selected-ingredients{        
        button {
           display: inline-block;
        }
    }
    #list-header-ing,#btn-close-container{
        min-width: 50%;
    }
}